body {
  background-color: #33779e;
}
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  background-color: white;
  max-width: 300px;
  padding: 10px;
  justify-content: center;
  align-content: center;
}
.option {
  border-bottom: 1px solid grey;
  padding: 2px;
  position: relative;
}
.title {
  text-align: center;
}
.toggle {
  text-align: right;
}
.sub-menu {
  display: none;
}

.sub-menu .active {
  display: block;
}

/* https://imgur.com/a/ZETet */
